{% extends 'base.html.twig' %}

{% block title %}Hello ProStageController!{% endblock %}

{% block contenu %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

 <div>
    <h1>Titre: {{ stage.titre }}</h1>
    <h1>Description: {{ stage.description }}</h1>
    <h1>Email:{{ stage.email }}</h1>
    <h1>Entreprise:<a href="{{ path('pro_stage_stageParEntreprise',{'nom': stage.entreprise.nom})}}">{{ stage.entreprise.nom }}</a></h1>
   
</div>

 {% for formation in stage.formations %}
    <h1>Formation: <a href="{{ path('pro_stage_stageParFormation',{'id': formation.id})}}">{{ formation.nomCourt }}</a></h1>
    {% endfor %}

</div>

  </div>
</div>









{% endblock %}
